<!DOCTYPE html>
<html>

<head>
	<title>{{selected.title}} (Eureka)</title>
	<link rel="stylesheet" href="/style.css">
	<script src="/script.js"></script>
</head>

<body>
	{{> header }}
	<main id="detail">
		<section>
			{{#if selected.images.length}}
			<div class="gallery">
				<div class="image" style="background-image:url({{selected.image}})"></div>
				{{#if (gt selected.images.length 1)}}
				<div class="thumbnails">
					{{#each selected.images}} {{#unless (eq @index 0)}}
					<div class="image" style="background-image:url({{this}})"></div>
					{{/unless}} {{/each}}
				</div>
				<div class="show">Zobrazit celou galerii</div>
				{{/if}}
			</div>
			{{/if}}

			<div>
				<h1>{{selected.title}}</h1>
				<h3>
					<a href="/category/{{selected.category.categoryId}}">{{selected.category.title}}</a> > {{selected.title}}</h3>
				<div class="collapsible collapsed">
					<div class="content">{{selected.description}}</div>
					<div class="expand">
						<span>⏬</span> zobrazit</div>
				</div>
			</div>
		</section>
		<section>
			<hr>
			<h2>Porovnání cen</h2>
			<div class="prices collapsed">
				<table>
					{{#each offers}}
					<tr>
						<td>{{title}} {{@index}}</td>
						<td>
							<a href="{{url}}" class="button">Koupit</a>
						</td>
						<td class=price>{{currency price}} Kč</td>
					</tr>
					{{/each}}
				</table>
				{{#if (gt offers.length 4)}}
				<a class="expand">
					<span>⏬</span> zobrazit další nabídky obchodu</a>
				{{/if}}
			</div>
		</section>
	</main>
	{{> footer }} {{> reload }}
</body>