<html>

<head>
	<title>Heureka</title>
	<link rel="stylesheet" href="style.css">
</head>

<body id="index">
	 {{> header }}
	<main>
		<ul class="list">
			{{#each categories}}
			<li>
				<a href="/category/{{categoryId}}">{{title}}</a>
			</li>
			{{/each}}
		</ul>
		<section>
			<ul>
				{{#each categories}}
				<li>
					<a href="/category/{{categoryId}}">
						<div style="background-image:url(app/assets/{{categoryId}}.jpg)"></div>
						<div>{{title}}</div>
					</a>
				</li>
				{{/each}}
			</ul>
			<div>Paging</div>
		</section>
	</main>
	 {{> footer }}
</body>

{{> reload }}

</html>