<!DOCTYPE html>
<html>

<head>
	<title>Eureka</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body id="index">
	{{> header }}
	<main>

		<div class="list-category">
			{{#each categories}}<a href="/category/{{categoryId}}">{{title}}</a>{{/each}}
		</div>

		<section>
			<ul class="list-items">
				{{#each categories}}
				<li>
					<a href="/category/{{categoryId}}">
						<div style="background-image:url(/images/{{categoryId}}.jpg)"></div>
						<div>{{title}}</div>
					</a>
				</li>
				{{/each}}
			</ul>
			<div>Paging</div>
		</section>
	</main>
	{{> footer }}
</body>

{{> reload }}

</html>